<table class="order-table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Delete/Update</th>
    </tr>
  </thead>

  <tbody>
  {{#each items as |item|}}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td><select id="{{item._id}}">
        <option {{item-value 1 item.quantity}} value="1">1</option>
        <option {{item-value 2 item.quantity}} value="2">2</option>
        <option {{item-value 3 item.quantity}} value="3">3</option>
        <option {{item-value 4 item.quantity}} value="4">4</option>
        <option {{item-value 5 item.quantity}} value="5">5</option>
        <option {{item-value 6 item.quantity}} value="6">6</option>
        <option {{item-value 7 item.quantity}} value="7">7</option>
        <option {{item-value 8 item.quantity}} value="8">8</option>
        <option {{item-value 9 item.quantity}} value="9">9</option>
        <option {{item-value 10 item.quantity}} value="10">10</option></select></td>
      <td>
        <button class="btn btn-danger item-delete glyphicon glyphicon-trash" data-id="{{item._id}}"></button>
        <button class="btn btn-success item-edit glyphicon glyphicon-pencil" data-id="{{item._id}}" ></button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<h5>Total is: ${{total}}.00</h5>
