<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
  {{#each items as |i|}}
    <tr>
      <td>{{i.item.name}}</td>
      <td>{{i.item.description}}</td>
      <td>{{i.item.price}}</td>
      <td>{{i.item.quantity}}</td>
      <td>
        <button class="btn btn-primary item-edit" data-id="{{item._id}}" >Edit</button>
        <button class="btn btn-danger item-delete" data-id="{{item._id}}">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<h5>Total is: {{total}}</h5>
