<table class="order-history-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>ID</th>
      <th>Items</th>
      <th>Total</th>
      <th>Complete?</th>
    </tr>
  </thead>

  <tbody>
  {{#each orders as |order|}}
    <tr>
      <td>{{order.createdAt}}</td>
      <td>{{order._id}}</td>
      <td>{{#each order.items as |item|}}
        {{item.name}},
      {{/each}}
      </td>
      <td>${{order.orderPrice}}.00</td>
      <td>{{order.complete}}</td>
      <td>
        <button class="btn btn-danger delete-order glyphicon glyphicon-trash" data-id="{{order._id}}"></button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
